.about {
  background: var(--background-dark);

  padding: var(--mobile-padding);

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    color: var(--text-lighter);
    min-width: 30rem;

    margin-bottom: var(--margin-xl);
  }

  &__heading {
    font-size: var(--hs-lg);
    margin-bottom: var(--margin-xl);
    position: relative;
    color: var(--secondary);
    flex-basis: 100%;

    &::before {
      position: absolute;
      content: "About Me";
      color: var(--text-lightest);
      left: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 5rem;

      top: 6.5rem;
      height: 4px;
      border-radius: 0 1000px 1000px 0;
      left: 0;
      background: var(--secondary);
    }
  }

  &__paragraph {
    font-size: var(--fs-md);
    line-height: 1.5;
    margin-bottom: var(--margin-lg);
  }

  .profile {
    padding: 4rem 2rem 2rem 2rem;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 2rem auto;
    width: 100%;
    min-width: 30rem;
    max-width: 35rem;
    background-image: var(--gradient-primary);

    &__img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: auto 0;
      top: -6rem;
      border: solid 3px var(--secondary);
      overflow: hidden;
      object-fit: contain;
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: var(--margin-md);

      img {
        position: relative;
        height: 130%;
        width: 130%;
        bottom: 20px;
        object-fit: cover;
      }
    }

    &__subheading {
      font-size: var(--fs-md);
      margin-bottom: var(--margin-md);
      color: var(--text-lightest);
    }

    &__qualifications {
      margin-bottom: var(--margin-md);
    }

    &__detail {
      position: relative;
      margin-left: 3rem;
      color: var(--text-light);
      font-size: var(--fs-md);
      line-height: 1.5;

      &::after {
        position: absolute;
        top: 50%;
        left: -1.75rem;
        content: " ";
        height: 2px;
        width: 8px;
        background-color: var(--secondary);
      }

      // i {
      //   margin-right: 0.5rem;
      //   display: inline-block;
      //   font-size: var(--fs-sm);
      //   text-decoration: none;
      //   color: var(--secondary);
      // }
    }

    &__skills {
      flex: 1;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;

      .skill-list {
        color: var(--text-light);
        display: inline-block;
        // margin: 0 auto;
        // margin-left: 4rem;
        list-style: none;
      }

      .skill-item {
        font-size: var(--fs-md);
        line-height: 1.5;
        position: relative;

        i {
          margin-right: 1rem;
          display: inline-block;
          font-size: var(--fs-md);
          text-decoration: none;
          color: var(--secondary);
          // width: 2.3rem;
        }

        // &::after {
        //   position: absolute;
        //   top: 50%;
        //   left: -2rem;
        //   content: " ";
        //   height: 2px;
        //   width: 8px;
        //   background-color: var(--secondary);
        // }
      }
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .about {
    &__text {
      flex: 1;
      padding-right: 4rem;
      min-width: 45rem;
    }

    .profile {
      margin: 0;
    }
  }
}
