.contact {
  padding: var(--mobile-padding);
  background: var(--primary);
  text-align: center;

  &__content {
    margin: 0 auto;
    max-width: 55rem;
  }

  &__heading {
    text-align: center;
    color: var(--text-lightest);
    font-size: var(--hs-lg);
    margin-bottom: var(--margin-xl);
    position: relative;

    &::after {
      @extend .projects__heading::after;
    }
  }

  &__text {
    color: var(--text-lightest);
    font-size: var(--fs-md);
    line-height: 1.5;
    padding-bottom: var(--margin-xl);

    &--email {
      display: block;
      font-size: var(--fs-md);
      transition: all linear 0.5s;
      text-decoration: none;
      color: var(--secondary);

      &:hover {
        color: var(--secondary-light);
        text-decoration: underline;
      }
    }
  }

  &__btn {
    display: inline-block;
    padding: 1rem 0.5rem;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    width: 15rem;
    margin: 0 auto var(--margin-xl);
    transition: all 0.3s linear;
    background-color: var(--secondary);
    color: var(--white);
    border: solid 2px var(--secondary);
    font-family: var(--font-body);
    font-size: var(--hs-sm);

    i {
      margin-right: 1.5rem;
    }

    &:hover,
    &:focus {
      background-color: var(--secondary-light);
      border: solid 2px var(--secondary-light);
      transform: scale(1.1);
    }
  }
}
