.landing {
  position: relative;
  background-size: cover;
  background-position: top;
  background-color: var(--primary);
  padding: var(--mobile-padding);
  height: 100vh;

  &__content {
    position: relative;
    top: 20rem;
    z-index: 1;
  }

  &__heading {
    &--intro {
      animation: fadeIn 0.75s;
      opacity: 0;
      animation-fill-mode: both;
      font-size: var(--fs-lg);
      color: var(--text-light);
      margin-bottom: var(--margin-lg);
    }

    &--name {
      animation: fadeIn 0.75s;
      opacity: 0;
      animation-fill-mode: both;
      animation-delay: 0.5s;
      font-size: var(--hs-xl);
      display: block;
      margin-bottom: var(--margin-sm);
      color: var(--text-lightest);
    }
  }

  &__subheading {
    font-size: var(--hs-lg);
    color: var(--text-light);
    margin-bottom: var(--margin-xl);
    animation: fadeInRight 1s;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 1s;
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (min-width: $screen-md) {
}
