.projects {
  padding: var(--mobile-padding);
  background: var(--background-dark);
  width: 100%;

  &__heading {
    font-size: var(--hs-lg);
    margin-bottom: var(--margin-xl);
    color: var(--secondary);
    text-align: center;
    position: relative;

    &::before {
      position: absolute;
      content: "Projects";
      text-align: center;
      transform: translateX(5px);
      color: var(--text-lightest);
    }

    &::after {
      position: absolute;
      content: "";
      width: 5rem;
      border: 2px solid var(--secondary);
      top: 6.5rem;
      height: 0;
      border-radius: 1000px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    font-size: var(--fs-md);
    color: var(--text-lightest);
    line-height: 1.5;
    text-align: center;
    margin-bottom: var(--margin-lg);
  }
}
