.btn {
  border-radius: 50px;
  background-color: var(--secondary);
  color: #ffffff;
  text-align: center;
  padding: 0.8rem 2rem;
  font-family: var(--font-body);
  text-decoration: none;
  cursor: pointer;

  // box-shadow: 0 0 10px var(--secondary);

  &:hover,
  &:focus {
    background-color: var(--secondary-light);
    background-position: right center;
  }
}

.btn--landing {
  @extend .btn;
  position: relative;
  font-size: var(--fs-lg);
  transition: all 0.3s ease;
  animation: fadeIn 0.75s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 14rem;

  background-size: 200% auto;

  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
  i {
    position: relative;
    margin-left: 8px;
    transition: all 0.2s ease-in-out;
    font-size: var(--fs-md);
  }

  &:hover,
  &:focus {
    i {
      transform: translatex(3px);
    }
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #141e30 0%,
    #243b55 51%,
    #141e30 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
