.hamburger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &__box {
    order: 1;
    z-index: 3;
    position: relative;
    margin: 0 auto;
    height: 2.5rem;
    width: 2.8rem;
    padding: 1.5rem;
    animation: fadeDown 1s;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }

  &__line {
    background-color: var(--text-light);
    margin: 0 auto;
    transition: 0.5s;
    width: 3rem;
    height: 2.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 1000px;

    &::before,
    &::after {
      @extend .hamburger__line;
      content: "";
    }

    &::before {
      top: 9px;
    }

    &::after {
      top: -9px;
    }
  }

  &.active {
    position: fixed;
    right: 2rem;
    z-index: 100;
  }

  &.active .hamburger__line {
    background: rgba(0, 0, 0, 0);
  }

  &.active .hamburger__line::after {
    top: 0;
    left: 0;
    transform: rotate(135deg);

    background-color: var(--secondary);
  }

  &.active .hamburger__line::before {
    top: 0;
    left: 0;
    transform: rotate(45deg);
    background-color: var(--secondary);
  }

  &.active ~ .nav {
    transform: translateX(0);
    visibility: visible;
  }

  &.active ~ .header__logo {
    filter: blur(5px) brightness(0.6);
    overflow-y: hidden;
  }
}

@media only screen and (min-width: $screen-md) {
  .hamburger {
    display: none;
  }
}
