.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  background: var(--background-dark);
  transform: translateX(100vw);
  visibility: hidden;
  transition: all 0.1s ease-in-out;

  &__list {
    list-style: none;
    padding-top: 60%;
  }

  &__item {
    width: 100%;
    text-align: center;

    &--icon {
      display: none;
    }
  }

  &__link {
    color: var(--text-light);
    font-size: var(--fs-xl);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    height: 10rem;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:after {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: "";
      background: var(--secondary);
      color: var(--white);
      height: 5px;
      border-radius: 1000px;
      transition: all ease-in-out 0.3s;
    }
  }
}

//tablet and bigger
@media only screen and (min-width: $screen-md) {
  // .content {
  //   height: 100%;
  //   width: 100%;
  //   z-index: 4;
  // }

  .nav {
    opacity: 1;
    display: flex;

    animation: none !important;
    transition: none !important;
    align-items: center;
    z-index: 2;
    height: 100%;

    background-color: transparent;
    background-image: none;
    transform: translateX(0rem);
    transition: none;
    width: 100%;
    visibility: visible;
    transition: none;

    &__list {
      position: relative;
      display: flex;
      justify-content: flex-end;
      height: 8rem;
      width: 100%;
      padding: 0;
    }

    &__item {
      display: flex;
      position: relative;
      align-items: center;
      background-color: transparent;
      animation: fadeDown 1s;
      opacity: 0;
      animation-fill-mode: both;
      animation-delay: 1.4s;
      height: 100%;
      width: 10rem;

      &:nth-child(2) {
        animation-delay: 1.6s;
      }

      &:nth-child(3) {
        animation-delay: 1.8s;
      }

      &--icon {
        display: flex;
        position: relative;
        text-align: center;
        background-color: transparent;
        animation: fadeDown 1s;
        opacity: 0;
        animation-fill-mode: both;
        animation-delay: 2s;
        height: 100%;
        padding: 1rem 2rem;
        transition: all 0.1s ease-in-out;

        &:nth-child(5) {
          animation-delay: 2.2s;
        }

        &:nth-child(6) {
          animation-delay: 2.4s;
          padding-right: 0;
        }
      }
    }

    &__link {
      height: 100%;
      width: 100%;
      color: var(--text-light);
      font-size: var(--fs-md);
      padding: 1rem 2rem;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.4s ease;

      &:after {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        background: var(--secondary);
        color: transparent;
        transition: all 0.2s ease-in-out;
      }

      &--icon {
        height: 100%;
        width: 100%;
        color: var(--text-light);
        font-size: var(--hs-sm);
        text-decoration: none;
        cursor: pointer;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav__link {
    &:hover {
      color: var(--text-lightest);

      &:after {
        width: 60%;
      }
    }

    &--icon {
      &:hover {
        color: var(--secondary-light);
      }
    }
  }

  .hamburger__box {
    &:hover .hamburger__line {
      background-color: var(--secondary);

      &:before {
        transform: translate(-80%, 0);
      }

      &:after {
        transform: translate(-80%, 0);
      }
    }
  }

  .active .hamburger__box {
    &:hover .hamburger__line {
      background: rgba(0, 0, 0, 0);

      &:before {
        transform: rotate(45deg);
        background-color: var(--secondary);
      }

      &:after {
        transform: rotate(135deg);
        background-color: var(--secondary);
      }
    }
  }
}
