.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--margin-xl);

  width: 100%;
  max-width: 50rem;
  overflow: hidden;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  background-image: var(--gradient-primary);

  &__text-container {
    width: 100%;
    max-width: 40rem;
    border-radius: 10px;
    order: 1;
    padding-bottom: 2rem;

    &:nth-of-type(even) {
      order: 2;
    }

    .project__heading {
      font-size: var(--hs-md);
      margin-bottom: var(--margin-md);
      color: var(--text-lightest);
    }

    .project__description {
      font-size: var(--fs-sm);
      line-height: 1.5;
      margin-bottom: var(--margin-lg);
      color: var(--text-light);
    }
  }

  &__img-container {
    order: 2;
    width: 100%;

    max-width: 42rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    margin: 2rem auto 0;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    border: solid 8px var(--primary);

    .project__img--desktop {
      position: relative;
      width: 100%;
      transition: all 0.6s ease;
    }

    .project__img--mobile {
      transition: all 0.6s ease;
      border-radius: 10px;
      position: absolute;
      border: solid 4px var(--primary);
      height: 80%;
      width: 23%;
      // width: 8rem;
      right: -2rem;
      bottom: -2rem;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }

  &__badge-container {
    margin-bottom: var(--margin-xl);

    font-weight: 500;

    .badge {
      font-size: var(--fs-xs);
      background-color: var(--primary-light);
      color: var(--text-darker);
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: $screen-md) {
  .project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    padding: 4rem;

    &__img-container {
      margin: 0;
    }

    &__text-container {
      padding: 2rem 2rem 0 0;
      margin-bottom: auto;
    }

    &:nth-of-type(even) {
      .project__text-container {
        order: 2;
        padding: 2rem 0 0 4rem;
      }
    }
  }
}
