.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 100rem;
  overflow: hidden;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 4rem;
  background-color: #4c4177;
  background-image: linear-gradient(to bottom right, #4c4177 0%, #2a5470 74%);

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  &__text-container {
    width: 100%;
    max-width: 40rem;
    border-radius: 10px;
    order: 1;
    padding-bottom: 2rem;

    .project__heading {
      font-size: var(--hs-md);
      margin-bottom: var(--margin-md);
      color: var(--text-lightest);
    }

    .project__description {
      font-size: var(--fs-sm);
      line-height: 1.5;
      margin-bottom: var(--margin-lg);
      color: var(--text-lightest);
    }
  }

  &__img-container {
    order: 2;
    width: 100%;
    // max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2rem auto 0;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);

    // background: var(--text-darker);

    img {
      position: relative;
      width: 100%;
      transition: all 0.6s ease;
      border-radius: 10px;
    }
  }

  &__badge-container {
    margin-bottom: var(--margin-xl);

    font-weight: 500;

    .badge {
      font-size: var(--fs-xs);
      background-color: var(--primary-light);
      color: var(--text-darker);
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .project__link {
      display: flex;
      flex-wrap: nowrap;
      font-size: 1.6rem;
      text-decoration: none;
      cursor: pointer;
      align-items: center;
      padding: 0.3rem 1.2rem;
      transition: all 0.3s ease;
      color: var(--secondary);

      i {
        transition: all 0.3s ease;
        font-size: 1rem;
        margin-left: 0.6rem;
      }

      &--live {
        color: #ffffff;
        border-radius: 16.5px;
        background: var(--secondary);
        border: solid 1px var(--secondary);

        // box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }

      &--repo {
        margin-left: 2rem;
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: $screen-md) {
  .project {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    &__img-container {
      margin: 0;
    }

    &__text-container {
      padding: 2rem 4rem 0 0;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .project__link {
    &:hover {
      i {
        transform: translateX(4px);
      }
    }

    &--live {
      &:hover {
        background-color: var(--secondary-light);
        border: solid 1px var(--secondary-light);
      }
    }

    &--repo {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
