.btn {
  border-radius: 50px;
  text-align: center;
  font-family: var(--font-body);
  text-decoration: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease-in-out;
}

.btn--landing {
  @extend .btn;
  animation: fadeIn 0.75s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  margin: 0;
  position: relative;
  font-size: var(--hs-sm);
  background-color: var(--secondary);
  color: #ffffff;
  background-size: 200% auto;

  background-image: var(--gradient-secondary);

  i {
    position: relative;
    margin-top: 3px;
    margin-left: 8px;
    transition: all 0.2s ease-in-out;
    font-size: var(--hs-xs);
  }
}

.btn--contact {
  @extend .btn;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  font-size: var(--hs-sm);
  background-color: var(--secondary);
  color: #ffffff;
  background-size: 200% auto;
  background-image: var(--gradient-secondary);
  transition: all 0.3s ease-in-out;

  i {
    position: relative;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    font-size: var(--hs-xs);
  }
}

.project__link {
  @extend .btn;
  color: var(--text-lightest);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: var(--fs-md);
  text-decoration: none;
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  transition: all 0.3s ease-in-out;
  background-size: 200% auto;
  background-image: var(--gradient-secondary);

  i {
    transition: all 0.3s ease;
    font-size: 1rem;
    margin-left: 0.6rem;
  }

  &--live {
    background-image: var(--gradient-secondary);
    margin-right: 2rem;
  }

  &--repo {
    background-color: transparent;
    background-image: none;
    padding-left: 0;
  }
}

//hover on non-touch screens
@media (hover: hover) and (pointer: fine) {
  .btn--landing {
    &:hover,
    &:focus {
      background-position: right center;

      i {
        transform: translateX(3px);
      }
    }
  }

  .btn--contact {
    &:hover,
    &:focus {
      background-position: right center;

      i {
        transform: translateX(3px) rotate(30deg);
      }
    }
  }

  .project__link {
    transition: 0.5s;
    &:hover {
      background-position: right center;

      i {
        transform: translateX(3px);
      }
    }

    &--live {
      &:hover {
      }
    }

    &--repo {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
