.contact {
  padding: var(--mobile-padding);
  background: var(--background-dark);
  text-align: center;

  &__content {
    margin: 0 auto;
    max-width: 55rem;
  }

  &__heading {
    font-size: var(--hs-lg);
    margin-bottom: var(--margin-xl);
    color: var(--secondary);
    text-align: center;
    position: relative;

    &::before {
      position: absolute;
      content: "Contact Me";
      text-align: center;
      transform: translateX(5px);
      color: var(--text-lightest);
    }

    &::after {
      @extend .projects__heading::after;
    }
  }

  &__text {
    color: var(--text-lightest);
    font-size: var(--fs-md);
    line-height: 1.5;
    padding-bottom: var(--margin-xl);

    &--email {
      display: block;
      font-size: var(--fs-md);
      transition: all linear 0.5s;
      text-decoration: none;
      color: var(--secondary);

      &:hover {
        color: var(--secondary-light);
        text-decoration: underline;
      }
    }
  }
}
