.footer {
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--primary-dark);

  &__copyright {
    color: var(--primary-light);
    font-size: var(--fs-xs);
    width: 100%;
    text-align: center;
  }
}
