.header {
  padding: 0 2rem;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 8rem;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  &__logo {
    font-family: var(--font-body);
    font-weight: 800;
    font-size: var(--hs-md);
    display: flex;
    align-items: center;
    color: var(--secondary);
    order: -1;
    animation: fadeDown 1s;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    letter-spacing: 1px;

    &::before {
      position: absolute;
      content: 'BM.';
      color: var(--text-lightest);
      left: 2px;
      top: 1px;
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .header {
    align-items: center;
    transition: none;
    left: 50%;
    transform: translateX(-50%);
  }
}
