@keyframes fadeIn {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
