:root {

    /* Colours */

    --white: #ffffff;

    --background-dark:#010203;
    --background-light: #F5F5F8;

    --text-dark: #091b30;

    --primary: rgba(24, 37, 56, 1);

    --secondary: #ff5a48;
    --secondary-light: #fd7061;
    
    --section-padding: 5rem 10rem;
    --mobile-padding:  5rem 4rem;

    --font-body:'Roboto', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

    --margin-sm: .5rem;
    --margin-md: 1rem;
    --margin-lg: 2.5rem;


    --fs-xs: 1rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2.5rem;
    --fs-xl: 3rem;

    --hs-vs: 1.5rem;
    --hs-sm: 2rem;
    --hs-md: 2.5rem;
    --hs-lg: 5rem;

    
}


@keyframes fadeIn {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(30px);
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}



$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body {
    font-family: var(--font-body);
    
    &.blurry .content {
            filter: blur(5px) brightness(0.6);
            overflow-y: hidden;
    }

}

.header{
    padding: 0 4rem;
    position: absolute;
    background-color: transparent;
    z-index: 2;
    
    width: 100%;
    height: 8rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition: top 1s ease;

    &__logo {
        font-family: "consolas";
        font-size: 3rem;
        display: flex;
        align-items: center;
        color: var(--secondary);
    }
}

.content-container {
    margin: 0 auto;
    max-width: 100rem;
}


.hamburger {
    background-color: transparent;
    cursor:pointer;
    height: 5rem;
    width: 5rem;
    border: none;
    
    &__box {
        z-index: 3;
        position:relative;
        margin: 0 auto;
        height: 3rem;
        width: 2.8rem;
        padding: 2rem;
    }

    &__line {
        background-color: #ffffff;
        margin: 0 auto;
        transition: 0.5s;
        width: 100%;
        height: 2px;
        position:absolute;
        top:50%;
        left:50%;
        transform: translatex(-50%);
        border-radius: 5px;

        &::before,
        &::after {
            @extend .hamburger__line;
            content: "";
        }

        &::before {
            top: 10px;
        }

        &::after { 
            top: -10px;
        }
    }

    &.active {
        position: fixed;
        right: 4rem;
        z-index: 100;
       
    }

    &.active .hamburger__line {
        background:rgba(0, 0, 0, 0);
    }


    &.active .hamburger__line::after {
        top: 0;
        left: 0;
        transform:rotate(135deg);
        background-color: var(--white);
    }

    &.active .hamburger__line::before {
        top: 0;
        left: 0;
        transform:rotate(45deg);
        background-color: var(--white);

    }

    &.active + .navbar {
        transform: translateX(0);
        transition: all .5s;
    }
}

.content {
    height: 100%;
    width: 100%;
    z-index: 4;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: fixed;
    padding-top: 5rem;
    top: 0;
    right: 0;
    width: 35rem;
    height: 100%;
    background-color: #0A192F;
    transform: translateX(50rem);

    ul {
        list-style: none;
        width: 100%;
        
        li {
        width: 100%;
        text-align: center;
    
            a {
               color: var(--white);
                font-size: 3rem;
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 1rem 2rem;
                height: 10rem;
                width: 100%;
                
                text-decoration: none;
                cursor: pointer;
                position: relative;

                &:after {
                    position: absolute;
                    bottom: 1rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '';
                    background: var(--secondary);
                    color: var(--white);
                    height: 2px;
                    transition: all .5s;
                }

                &:hover {

                    &:after {
                        width: 60%;
                    }
                }
            }
        }
    }
}


//landing section ---------------------------------------------------------------------------------

.landing {
    position: relative;
    background-image: linear-gradient( rgba(24, 37, 56, .2), rgba(24, 37, 56, .2),), url(/images/diego-ph-5LOhydOtTKU-unsplash.jpg);

   

    
    background-size: cover;
    background-origin: bottom;
    
    padding: var(--mobile-padding);
    height: 100vh;
    
    &__content{
        position: relative;
        top: 45%;
        transform: translateY(-50%);
        
    }

    &__heading {


        &--intro {
        animation: fadeIn .75s;
        opacity: 0;
        animation-fill-mode: both;
        font-size: var(--fs-md);
        color: var(--white);
        margin-bottom: var(--margin-md);
        }
        
        
        &--name {
            animation: fadeIn .75s;
            opacity: 0;
            animation-fill-mode: both;
            animation-delay: .5s;
            font-size: var(--hs-lg);
            display: block;
            margin-bottom: var(--margin-sm);
            color: white;
        }
    }

    &__subheading {
        font-size: var(--fs-xl);
        color: var(--white);
        margin-bottom: var(--margin-lg);
        animation: fadeInRight 1s;
        opacity: 0;
        animation-fill-mode: both;
        animation-delay: 1s;
    }

    &__buttons{
        
        .btn {
            background-color: var(--secondary);
            color: var(--white);
            border: solid 2px var(--secondary);
            font-family: var(--font-body);
            font-size: var(--hs-sm);
            padding: 1rem;
            border-radius: 50px;
            text-decoration: none;
            cursor: pointer;
            width: 12rem;
            margin-right: 2rem;
            animation: fadeIn .75s;
            opacity: 0;
            animation-fill-mode: both;
            animation-delay: 1.5s;
            
            &:hover {
                transition: all .3s linear;
                background-color: var(--secondary-light);
                border: solid 2px var(--secondary-light);
            }

            &--secondary {
                @extend .btn;
                background-color: transparent;
                color: var(--secondary);
                border: solid 2px var(--secondary);

                &:hover {
                    background-color: var(--secondary);
                    color: var(--white);
                    border: solid 2px var(--secondary);
                }
            }
        }
    }
}


//Aboutsection ---------------------------------------------------------------------------------

.about {
    // background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
    background-color: var(--primary);
    color: var(--white);
    font-weight: 300;
    padding: var(--mobile-padding);
    

     &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    
     }

     &__text {
         
         min-width: 35rem;
     }

     &__heading {
        font-size: var(--hs-md);
        margin-bottom: var(--margin-lg);
        position: relative;


         &::after {
             color: var(--white);
             position: absolute;
             
             content: "";
             width: 5rem;
             border-bottom: 2px solid var(--secondary-light);
             top: 38px;
             left: 0;
         }
     }

     &__paragraph {
         font-size: var(--fs-md);
         line-height: 1.5;
         margin-bottom: 2rem;
         color: #c9c9c9;
         
     }

     
    .card {
        padding: 2rem 4rem;
        background-image: linear-gradient(45deg, #5e3672 0%, rgb(91, 117, 124) 100%);
        border-radius: 15px;
        margin: 0 auto;
        min-width: 37rem;
        height: 40rem;

        // background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);

        &__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--margin-md);
     
        
        }

        &__img {
            
            border-radius: 50%;
            border: solid 2px var(--secondary);
            overflow: hidden;
            object-fit: contain;
            width: 12rem;
            height: 12rem;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__content {
            display: block;
            height: 11rem;
            padding: 1rem 2rem;
        }

        &__heading {
            text-align: center;
        font-size: var(--hs-sm);
        margin-bottom: var(--margin-md);
        }

        &__detail {
            font-size: var(--fs-sm);
            margin: 0 auto;
            margin-bottom: var(--margin-sm);
    
            .icon {
                display: inline-block;
                font-size: var(--fs-sm);
                text-decoration: none;
                color: var(--secondary-light);
                width: 3rem;
                text-align: center;
            }
        }

        &__skills {
           
            flex: 1;
            

            .skills-heading {
                font-size: var(--hs-vs);
                margin-bottom: var(--margin-md);
            }

            .skill-container {
            display: flex;
            }

            .skill-list {
               
                width: 50%;
                margin-left: 4rem;
                list-style: none;
                font-size: var(--fs-sm);
            }

            .skill-item {
                margin-bottom: var(--margin-sm);
                position: relative;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: -2rem;
                    color: white;
                    content:" ";
                    height: 2px;
                    width: 1rem;
                    background-color: var(--secondary);
                }
            }
        }
    }
}




// section ---------------------------------------------------------------------------------

.projects {
    padding: var(--mobile-padding);
    background-color:var(--background-light);
    width: 100%;
    
        &__heading {
            font-size: var(--hs-md);
            margin-bottom: var(--margin-lg);
            color: #0C121F;
            text-align: center;
            position: relative;

            &::after {
                position: absolute;
                font-size: 3rem;
                content: "";
                width: 5rem;
                border-bottom: 2px solid #f16f61;
                left: 50%;
                transform: translateX(-50%);
                top: 38px;
            }   
        }

        &__text {
            font-size: var(--fs-md);
            line-height: 1.5;
        }
         &__container {
             display: flex;
             flex-wrap: wrap;
             justify-content: center
         }
    }

    .project {
        overflow: hidden;
        min-width: 33rem;
        max-width: 35rem;
        margin: 2rem 2rem 2rem 0;
        flex: 1;
        background-color: var(--white);
        box-shadow: var(--box-shadow);
        border-radius: 15px;

       
        &__img {
            height: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);

            img {
              width: 120%;
                // width: 100%;
                object-fit: cover;
                
            }
        }

        &__tech {
            margin-bottom: var(--margin-md);
            font-size: var(--fs-xs);

            .tech {
                background-color: lightblue;
                border-radius: 15px;
                padding: .25rem .5rem;
                margin-right: .25rem;
            }
        }
            
        &__content {
            padding: 2.5rem;

            h3 {
                font-size: var(--hs-sm);
                margin-bottom: var(--margin-sm);
                color: #12003B;
            }

            p {
                font-size: var(--fs-sm);
                line-height: 1.3;
                margin-bottom: var(--margin-lg);
                color: gray;
                
            }
        }

        &__links {
            
            
            .project-live {
                font-size: var(--fs-md);
                text-decoration: none;
                cursor: pointer;
                background-color: var(--secondary);
                border: solid 2px var(--secondary);
                color: var(--white);
                border-radius: 15px;
                margin-right: 2rem;
                padding: .5rem 1rem;
                transition: all .3s ease;

                &:hover {
                    background-color: var(--secondary-light);
                    border: solid 2px var(--secondary-light);
                }
            }

            .project-repo {
                font-size: var(--fs-md);
                cursor: pointer;
                color: var(--secondary);
                
                text-decoration: none;

                &:hover {
                    color: var(--secondary-light);
                    text-decoration: underline;
                    
                    i {
                        
                        transform: translateX(4px);
                    }
                }

                i {
                    transition: transform .2s linear;
                    margin-left: .5rem;
                }
            }
        }
    }

    // contact section

    .contact {
        padding: var(--mobile-padding);
        background: var(--primary);
        text-align: center;
        
        &__container{
            margin: 0 auto;
        }

        &__heading {
            text-align: center;
            color: var(--white);
            font-size: var(--hs-md);
            margin-bottom: var(--margin-lg);
            position: relative;

            &::after {
                @extend .projects__heading::after;
            }
        }

        &__text {
            color: white;
            font-size: var(--fs-md);
            line-height: 1.5;
            padding-bottom: var(--margin-md);
            
            &--email {
                
                font-size: var(--fs-md);
                transition: all linear .3s;
                text-decoration: none;
                color: var(--secondary-light);

                &:hover {
                    color: var(--secondary-light);
                    text-decoration: underline;
                }
            }
        }
    }


    

.form {
    padding: 1rem;
    margin: 0 auto 2rem;

    &__inputs {
        width: 100%;
        margin-bottom: var(--margin-lg);
    }

    &__input {
        width: 100%;
        margin-bottom: var(--margin-md);

        .label {
            color: var(--white);
            display: block;
            text-align: left;
            font-size: 1.5rem;
            margin-bottom: var(--margin-sm);
        }

        .input {
            border: none;
            background-color: #233953;
            color: #cecdcd;
            font-size: 1.5rem;
            padding: 1rem;
            width: 100%;
            border-radius: 5px;

            &--textarea {
                @extend .input;
                font-family: var(--font-body);
            }

            &::placeholder {
                color: #7f95b1;
            }

            &:focus, &:active {
                outline: none;
                border: solid 1px #7f95b1;
            }
        }
    }

    &__btn {
        display: block;
        background-color: var(--secondary);
        color: var(--white);
        border: solid 2px var(--secondary);
        font-family: var(--font-body);
        font-size: 2rem;
        padding: 1rem .5rem;
        border-radius: 50px;
        text-decoration: none;
        cursor: pointer;
        width: 15rem;
        margin: 0 auto 1rem;
        transition: all .3s linear;
         
         i {
             margin-right: 2rem;
         }

         &:hover, &:focus { 
             background-color: var(--secondary-light);
             border: solid 2px var(--secondary-light);
         }
     }
}


.link {
    font-size: 3rem;
    cursor: pointer;
    padding: 0 2.5rem;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    width: 10rem;

    &__navbar {
       width: 100%;
       display: flex;
       justify-content: center;
       position: relative;
    }

    &__name {
        opacity: 0;
        margin-top: .5rem;
        text-align: center;
        font-size: var(--fs-md);
        font-weight: 500;
        transform: translateY(-25px);
        color: var(--white);
    }

    &:hover .link__name, &:focus {
        transition: all ease .5s;
        transform: translateY(5px);
        opacity: 1;
    }

    &:hover .link__icon, &:focus {
        transform: scale(1.1);
        transition: all ease .5s;
        color: var(--secondary);
    }
}

.footer {
    text-align: center;
    padding: 4rem;
    background-color: #0C121F;

        &__container {
             color: white;
        }

            &__copyright {
                color: white;
                font-size: var(--fs-md);
                width: 100%;
                text-align: center;
            }
        }
        
    



  //desktop----------------------------------------------

  @media only screen and (min-width: 750px) {

    @keyframes fadeDown {
        from {
            transform: translateY(-30px);
        }
    
        to {
            transform: translateY(0);
            opacity: 1
        }
    }

   .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    transition: none;
    left: 50%;
    transform: translateX(-50%);
    
    .hamburger{
        display: none;
    }
}

.content {
    height: 100%;
    width: 100%;
    z-index: 4;
}

.navbar {
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    transform: translateX(0rem);
    transition: none;
   
    ul {
        display: flex;
        height: 100%;

        li {
        position: relative;
        text-align: center;
        background-color: transparent;
        animation: fadeDown 1s;
        opacity: 0;
        animation-fill-mode: both;
        animation-delay: 1.4s;

        &:nth-child(2){      
            animation-delay: 1.6s; 
        }
        
        &:nth-child(3){
            animation-delay: 1.8s; 
        }
        
            a {
                height: 100%;
                width: 100%;
                

                color: #ffffff;
                font-size: 2.2rem;
                font-weight: 700;
                padding: 1rem 2rem;
                text-decoration: none;
                cursor: pointer;
                
                &:after {
                    position: absolute;
                    bottom: 1.5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    background: var(--secondary);
                    color: transparent;
                    height: 2px;
                    transition: all .5s;

                    
                }

                &:hover {
                    
                    &:after {
                        width: 80%;
                    }
                }
            }
        }
    }

    .link {
        display: none;

        &__navbar {
            display: none;
        }
    
        &__name {
            display: none;
        }
    
        &:hover .link__name {
            display: none;
        }
    
        &:hover .link__icon {
            display: none;
        }
    }
}
}

.about {


    &__text {
        flex: 1;
    }

    .card {
        margin: 2rem 4rem;
      
    }
}