//base
@import "base/variables";
@import "base/animations";
@import "base/base";

@import "base/utilities";

//components

@import "components/hamburger";
@import "components/navbar";
@import "components/project";
@import "components/icon-nav";
@import "components/buttons";

//layout

@import "layout/about";
@import "layout/contact";
@import "layout/header";
@import "layout/landing";
@import "layout/projects";
@import "layout/footer";

//Aboutsection ---------------------------------------------------------------------------------

// section ---------------------------------------------------------------------------------

// contact section--------------------------------------------------------

//desktop------------------------------------------------------------------

@media only screen and (min-width: $screen-md) {
  .project {
    margin-bottom: (--margin-xl);

    &--tutorial {
      margin-bottom: var(--margin-lg);
      margin-left: 2rem;
    }
  }
}

//hover elements not on touch screen-----------------------------
