:root {
    /* Colours */
    --section-padding: 6rem 12rem;

}

$primary: #84a5ff;

$secondary: #f05454;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*,
*:before,
*:after {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;

}

.header{
padding: 1.5rem 12rem;
position: absolute;
width: 100%;

background-color: transparent;

display: flex;
align-items: center;
justify-content: space-between;

    &__logo {
        font-family: "consolas";
        font-size: 5rem;
        display: flex;
        align-items: center;
        color: salmon;
        
    }
}


.navbar {
    height: 6rem;
   
    
    ul {
        align-items: center;
        display: flex;
        height: 100%;
        list-style: none;
        

        li {
        height: 100%;
        padding: 0;
      

            a {
               color: white;
                font-size: 2rem;
                align-items: center;
                display: flex;
                padding: 1rem 2rem;
                height: 100%;
                text-decoration: none;

                i {
                    font-size: 3rem;
                }
            }
        }
    }
}


.landing {
   background-image: linear-gradient(rgba(48, 71, 94, .1), rgba(48, 71, 94, 1)),
   url(/images/pexels-eberhard-grossgasteiger-572897.jpg);
    background-position: center;
    background-size: cover;
    padding: var(--section-padding);
    height: 100vh;
    

    &__container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 5rem;
        width: 80rem;
    }

    &__heading {
        color: white;
        font-size: 4rem;
        &--name {
            font-size: 10rem;
            display: block;
        }
    }

    &__subHeading {
        color: white;
    }

    &__btn {
        color: white;
        background-color: transparent;
        margin-top: 2rem;
        font-size: 2rem;
        border: none;
        padding: 1.5rem;
        border-radius: 10px;
        text-decoration: none;
        
        display: block;
        cursor: pointer;
        border: solid 2px #ffffff;

    &:hover {
        color: black;
        background-color: #ffffff;
        
        
    }
    }

}

.img__container {
    // width: 70%;
    position: relative;
    bottom: 10%;
    left: 45%;
}


.about {
    background-color: white;
    padding: var(--section-padding);
    min-height: 100vh;
    display: flex;

    // &__imgContainer{
        
    //    display: flex;
    //    justify-content: center;
    //    margin-right: 5rem;
    //    align-items: flex-start;
    //     width: 100%;
    //     // overflow: hidden;
        
    // }

    // &__img {
    //     border: solid 3px #1a1a2e;
        
    //     border-radius: 20px;
    // }

    &__heading {
        font-size: 3rem;
    }

    &__text {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

}


.projects {
    
padding: var(--section-padding);
background-color:#F8F9F9;
width: 100%;

&__heading {
    font-size: 3rem;
}

&__text {
    font-size: 1.5rem;
}

}


    .project {
        // border-radius: 10px;
        overflow: hidden;
        min-width: 35rem;
        margin: 2rem 2rem 2rem 0;
        flex: 1;
        max-width: 50rem;
        background-color: #ffffff;
        box-shadow: 1px 1px 57px 0 rgba(123, 136, 168, .19);

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }

        &__imgContainer {
            height: 24rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
        }

        &__img{
            width: 120%;
            // width: 100%;
            object-fit: cover;
        }

        &__contentContainer {
            padding: 2rem;
        }

        &__name {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #1a1a2e;
        }

        &__description {
            font-size: 1.25rem;
            line-height: 1.5;
            margin-bottom: 1rem;
            color: gray;
        }

        &__links {
            opacity: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: #fff;
            
            
            &:hover {
               
                transition: all 0.3s ease-in;
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.4);
                
            }
            

            // &:hover .project__link {
            //    display: flex;
            // //    display: block;
            // }
        }

        &__link {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
            border: solid 2px #fff;
            border-radius: 15px;
            padding: 1.5rem;
            margin: 2rem;
            width: 15rem;

            i {
                font-size: 1.75rem;
                padding-right: .8rem;
               
            }
        }

        &__software {
            display: flex;
            justify-content: flex-start;

            i {
                font-size: 4rem;
            }
        }
    }


    .contact {
        padding: var(--section-padding);
        background:#0e2444;
        

        &__container{
            margin: 0 auto;
            text-align: center;
            width:56rem;
           
        }

        &__heading {
            color: #ffffff;
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        &__text {
            color: #ffffff;
            font-size: 1.75rem;
            margin-bottom: 1.5rem;
            width: 100%;

            &--email {
                color: salmon;
                cursor: pointer;
            }
        }

        &__button {
            border: none;
            background-color: salmon;
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            margin-top: 1rem;
            font-size: 2rem;
            border-radius: 5px;
            padding: 1.25rem;
            width: 12rem;
        }
    }

.input {
    
    width: 100%;
    text-align: left;

    &__label{
        font-size: 1.5rem;
        display: block;
        color: #ffffff;
        width: 100%;
        margin-bottom: .5rem;
    }

    &__box {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        height: 4rem;
        border-radius: 5px;

        &--text{
            @extend .input__box;
            height: 16rem;
        }

    }

}





.footer {
    padding: var(--section-padding);
    background-color: #0A192F;

        &__container {
            
             color: white;
             
        }

        &__made {
            font-size: 2rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
           

            
        }

        &__github {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            font-size: 2rem;
            text-decoration: none;
            color: white;
            

            i {
               
                color: white;
                font-size: 3rem;
                padding-right: .5rem;
            }
        }

            &__copyright {
                color: white;
                
                font-size: 1.25rem;
                padding-top: 4rem;
                width: 100%;
                text-align: center;
            }

}



  